.preview {
  p, h2, h3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & + & {
    border-top: solid 1px #eee;
  }
}

.content {
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
}

.inPost {
  padding: 0;
}

.withImage {
  width: calc(100% - 100px);
}

.image {
  display: inline-block;
  width: 100px;
  height: 100px;
}
